@charset "utf-8";
/* CSS Document */

@font-face{
	font-family: "Fancy";
	src: url("fonts/Fancy-PersonalUse.ttf") format("truetype");
}

body {
	background-color: Ivory;
	background-image: url("fade.png");
	background-repeat: repeat-x;
	color: maroon;
}

h2 {
	font-family: "Fancy";
}